body{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block{
    /*padding: 0 0 0 20px;
    border: 1px solid black; */
}
.padding{
    padding: 1px;
}
.title{
    color: #e7e7e7;
    font-size: 1em;
    font-weight: 400;
}
.margin-title{
    margin: 2px 0 -2px 0;
}
.small-title{
    font-weight: bold;
    width: 130%;
    font-family: 'Trebuchet Ms';
    font-size: 8pt;
}
.background{
    background-image: url('../images/background-item.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.outter-border{
    border: 2px solid #573e26;
}
.inner-border{
    border: 1px ridge #55453c;
}
.item-size {
    width: 195px;
    margin: 0 0 2px 2px ;
}
.item-row{
    margin-left: 0px;
}