.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdown-btn {
    padding-left: 3px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    width: 90%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 1px rgba(0,0,0,0.7);
    z-index: 1;
}
.dropdown-item {
    padding-left: 10px;
    display: block;
}
.dropdown-item:hover {
    background-color: #6d502e;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}