.value, .disable{
    font-size: .75em;
    font-weight: 700;
    height: 90%;
    width: 100%;
}
.value{
    text-align: right;
    color: white;
    background-color: #694531;
}
.value::-webkit-inner-spin-button, .value::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0 2px 0 0;
}
.disable{
    text-align: center;
    color: #442a1e;
    border-bottom: .1em solid #442a1e;
}
.invalid{
    color: #bf1100;
    font-size: .75em;
    border-bottom: .1em solid #bf1100;   
}
.with-mix{
    color: #0099ff;
}